<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>


<style>
    .red {
        color: red;
        font-size: 15px;
    }
</style>
<body>
<h1>Person</h1>
<div class="container-fluid">
    <div class="cloumn">
        <form action="#" th:action="@{/form}" th:object="${person}" method="post">

            <p>First Name*: <input type="text" th:field="*{firstName}" th:required="required"/></p>
            <p>Last Name*: <input type="text" th:field="*{lastName}" th:required="required"/></p>
            <p>Age*:
                <input type="text" th:field="*{age}" th:required="required"/>
                <span class="red" th:if="${#fields.hasErrors('age')}">Age value is invalid!</span>
            </p>
            <p>Address:</p>
            <p>Road Name: <input type="text" th:field="*{address.roadName}"/></p>
            <p>City: <input type="text" th:field="*{address.city}"/></p>
            <p>Country: <input type="text" th:field="*{address.country}"/></p>
            <p>PinCode: <input type="number" th:field="*{address.pinCode}"/></p>
            <p><input type="submit" value="Submit" class="btn btn-primary"/>
                <input type="reset" value="Reset" class="btn btn-secondary"/></p>
        </form>
    </div>
</div>
</body>
</html>